.bundle
.grunt
.foreman
build
*.log
config/local-*
config/local.*
!*.example
node_modules
*.sqlite3
*.sqlite3-journal
*.aof
tmp
pids
test/regression/results
vendor/bundle
upload/*
.DS_Store
docker-compose.override.yml
docker-compose.local.yml
.vscode
charts/**/charts
.idea